$colors: (
    light: "195, 204, 211",
    darker-light: "128, 140, 150",
    darker: "32, 32, 32",
    dark: "43, 43, 43",
    lighter-dark: "54, 54, 54",
    green: "45, 163, 104",
    lighter-green: "57, 206, 131",
    purple: "159, 50, 173",
    lighter-purple: "212, 65, 231",
);
